In [3]:
import pandas as pd
import numpy as pn

data = pd.read_csv('FoodPrice-in-Turkey.csv',header=0,encoding='ISO-8859-1')
display(data)
# data.info()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
data.rename(columns={'Place':'Địa điểm','ProductName':'Tên SP'},inplace=True)
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [6]:
data['NewCol']='NaN'
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,NewCol
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [8]:
data['Giảm giá']='10%'
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,NewCol,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN,10%
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%

In [10]:
data.loc[data.shape[0]]='NA','RR','Rice',10,'KG',6,2021,84.3785,'NaN','10%'
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,NewCol,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN,10%
...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN,10%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,NaN,10%

In [13]:
data=data.drop('NewCol',axis=1)
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%
...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%
7381,NA,RR,Rice,10,KG,6,2021,84.3785,10%

In [15]:
data.drop(7381,axis=0,inplace=True)
display(data)

,Địa điểm,ProductId,Tên SP,UmId,UmName,Month,Year,Price,Giảm giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10%
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,10%
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,10%
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,10%
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,10%
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,10%
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10%