In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('FoodPrice-in-Turkey.csv')
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [24]:
# data.iloc[2]
# data.iloc[2:5]
# data.iloc[[1,3,5]]
# data.iloc[0:6,0:9]
# data.iloc[3,7]

# data.loc[0:6,'ProductName']
# data.loc[:,'Place':'ProductName']
# data.loc[data.Year>=2019]

data.replace(5,10,inplace=True)
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,10,KG,10,2013,4.4920
1,National Average,52,Rice - Retail,10,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,10,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,10,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,10,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,10,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,10,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,10,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,10,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,10,KG,12,2019,51.6071